/* font-family
font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif;
 */

@font-face {
    font-family: 'Fredericka the Great';
    src: url(../fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Style */

header,
footer{
    color: whitesmoke;
}

a {
    text-decoration: none;
}

.fontFredericka {
    font-family: 'Fredericka the Great', cursive;
}

.fontOpenSans {
    font-family: 'Open Sans', sans-serif;
}

.hoveringUnderline:hover {
    text-decoration: underline;
}

.hoveringStyle:hover {
    color: slategray;
    background-color: whitesmoke;
}

.colorWhite{
    color: whitesmoke;
}

/* Header Style */

header {
    background-image: url(../image/Lev3_2_css-einführung_box-model_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: darkslategrey;
    padding-bottom: 75px;
}

header h2 {
    margin-left: 150px;
    padding-top: 10px;
}

header section {
    padding: 100px 500px;
}

header section h1 {
    margin: auto;
    width: 200px;
    text-align: center;
}

header section p {
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

header section a {
    display: block;
    width: 150px;
    text-align: center;
    border: 2px solid whitesmoke;
    margin: auto;
    padding: 5px 20px;
}

header nav {
    text-align: right;
    padding-right: 30px;
}

.headerLinksStyle {
    list-style: none;
    margin: 10px;
}

/* Main Style */

main{
    padding-bottom: 50px;
}

main h2 {
    margin: auto;
    padding: 15px;
    text-align: center;
}

.centerP{
    margin: auto;
    padding: 0 450px 20px;
    text-align: center;
}

main section {
    width: 200px;
    margin: auto;
    padding: 20px 0;
    border: 2px double black;
    box-shadow: 1px 2px 15px black;
}

div {
    text-align: center;
}

#phonenumber {
    display: block;
    color: black;
    margin: auto;
    text-align: center;
}

#phonenumber:hover {
    text-decoration: underline;
}

/* Footer Style */

footer {
    background-color: slategrey;
}

footer p {
    text-align: left;
    width: 600px;
    padding: 20px;
}

.findUsStyle {
    display: block;
    width: 150px;
    margin-left: 20px;
    padding: 10px 30px;
    text-align: center;
    border: 1px solid whitesmoke;
}

footer nav {
    text-align: right;
    margin-right: 20px;
}

.footerNavStyling {
    display: inline-block;
    padding: 10px 10px 20px;
    margin: auto;
}